body {
  margin: 0;
} 

#root {
  background-image: url("imagens/campobackground.jpg");
  justify-content: center;
  background-attachment: fixed;
  min-height: 100vh;
}

#page-title {
  /*margin: 50px;*/
  padding: 5px;
}

.img-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  /* background-color: rgba(255, 255, 255, 0.494); */
  /* border-radius: 50px; */
  width: auto;
  margin-left: 40px;
  margin-right: 40px;
}

#filters {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 5px;
  padding-inline-end: 10px;
}

.filter-box {
  display: flex;
  flex-direction: column;
  color: #215ba6;
  font-size: x-large;
}

.sort-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 500px;
  margin: 25px auto;
  font-size: x-large;
}
.calculo-agregado {
  text-align: center;
  align-items: center;
  padding: 10px;
  width: 500px;
  margin: auto;
  color: #215ba6;
  font-size: 17pt;
  background-color: rgba(241, 242, 250, 0.515);
  border-radius: 10px;
  box-shadow: 0px 2px 18px rgb(5, 3, 87);
}

.error-message {
  text-align: center;
  align-items: center;
  padding: 10px;
  width: 500px;
  margin: auto;
  color: #215ba6;
  font-size: 17pt;
  background-color: rgba(241, 242, 250, 0.515);
  border-radius: 10px;
  box-shadow: 0px 2px 18px rgb(5, 3, 87);
  margin-top: 10px;
}

#all-cards {
  display: flex;
  flex-wrap: wrap;
  font-size: small;
  margin-top: 10px;
  justify-content: center;
}
.card {
  background-color: rgba(241, 242, 250, 0.515);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  height: 320px;
  width: 280px;
  box-shadow: 0px 2px 18px rgb(5, 3, 87);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px;
}

.pokemon-img {
  border: 1px solid rgb(14, 61, 133);
}

.pokemon-name {
  text-align: center;
  margin: 0px;
}
.pokemon-img {
  background-color: rgb(252, 250, 248);
  height: 170px;
}
